// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icons
@import '~bootstrap-icons/font/bootstrap-icons.css';

// Custom
@mixin lesson-table-cell {
    border: solid 1px #a52019;
}

.lesson-table-header-cell
{
    @include lesson-table-cell;
    border-bottom: solid 3px #7f180d;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    vertical-align: middle;
}

.lesson-table-cell
{
    @include lesson-table-cell;
    padding: 0;
}

input.lesson-table-input
{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}