// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Icons
@import '~bootstrap-icons/font/bootstrap-icons.css';

// Custom
td.no-paddings
{
    position: relative;
    padding: 0% !important;

    input.lesson-table-input
    {
        position: absolute;
        width: 100%;
        height: 100%;
        outline: none;
    }
}
